:root {
    --current-font: "Meerkle Sans";
}

@font-face {
    font-family: "Meerkle Sans";
    src: url('../Meerkle-sans.eot');
    src: url('../Meerkle-sans.eot') format('embedded-opentype'),
         url('../Meerkle-sans.woff') format('woff'),
         url('../Meerkle-sans.ttf') format('truetype');
}

@font-face {
    font-family: "Haia";
    src: url('../Haia.ttf');
    src: url('../Haia.ttf') format('truetype');
    padding-top: 1rem;
}

@font-face {
    font-family: "Shihaia";
    src: url('../Shihaia.ttf');
    src: url('../Shihaia.ttf') format('truetype');
}

@font-face {
    font-family: "Meerklebet9x9";
    src: url('../meerklebet9x9.ttf');
    src: url('../meerklebet9x9.ttf') format('truetype');
}

.char-a::before {
    background-image: url(../svgs/a.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}

.meerkle {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 10%);
    line-height: 1.5;
    font-family: var(--current-font), "PT Sans", Calibri, Tahoma, sans-serif;
}

.meerkle-input button {
    padding: 0 0.5rem;
    line-height: 1.5rem;
    /*width: 3rem;*/
}

.meerkle-input span {
    padding: 0 0.75rem;
    width: 4rem;
    justify-content: right;
}

.meerkle-input {
    margin: 0.25rem;
}

.meerkle textarea {
    height: 100%;
}

.romankle textarea {
    height: 100%;
}

.half-height {
    height: 50%;
}

.full-height {
    height: 100%;
}

/* Spin Buttons modified */
input[type="number"].spinbox::-webkit-outer-spin-button, 
input[type="number"].spinbox::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    width: 1em;
    border-left: 1px solid #BBB;
    opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
input[type="number"].spinbox::-webkit-inner-spin-button:hover,
input[type="number"].spinbox::-webkit-inner-spin-button:active{
    box-shadow: 0 0 2px #0CF;
    opacity: .8;
}

h3 {
    display: flex;
    justify-content: left;
}

/*
a.svg
aa.svg
c.svg
ch.svg
d.svg
e.svg
ee.svg
f.svg
g.svg
gg.svg
h.svg
i.svg
ie.svg
iye.svg
j.svg
k.svg
kk.svg
l.svg
ll.svg
m.svg
mm.svg
n.svg
nn.svg
o.svg
oo.svg
ou.svg
p.svg
r.svg
rr.svg
s.svg
t.svg
th.svg
ts.svg
tt.svg
u.svg
uaie.svg
uu.svg
v.svg
y.svg
yl.svg
*/