@font-face {
    font-family: "Meerkle Sans";
    src: url('../Meerkle-sans.eot');
    src: url('../Meerkle-sans.eot') format('embedded-opentype'),
         url('../Meerkle-sans.woff') format('woff'),
         
         url('../Meerkle-sans.ttf') format('truetype');
}

.char-a::before {
    background-image: url(../svgs/a.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}

.meerkle {
    margin: 0;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 10%);
    line-height: 1.5;
    font-family: "Meerkle Sans", "PT Sans", Calibri, Tahoma, sans-serif;
}

.meerkle-input button {
    padding: 0 0.5rem;
    width: 3rem;
}

.meerkle-input span {
    padding: 0 0.75rem;
    width: 4rem;
    justify-content: right;
}

.meerkle-input {
    margin: 0.25rem;
}

.meerkle textarea {
    height: 50%;
}

.romankle textarea {
    height: 50%;
}

/*
a.svg
aa.svg
c.svg
ch.svg
d.svg
e.svg
ee.svg
f.svg
g.svg
gg.svg
h.svg
i.svg
ie.svg
iye.svg
j.svg
k.svg
kk.svg
l.svg
ll.svg
m.svg
mm.svg
n.svg
nn.svg
o.svg
oo.svg
ou.svg
p.svg
r.svg
rr.svg
s.svg
t.svg
th.svg
ts.svg
tt.svg
u.svg
uaie.svg
uu.svg
v.svg
y.svg
yl.svg
*/